@model IEnumerable<MAFS_ReStart.Models.RestaurantListViewModel>
@{
    ViewBag.Title = "Home";
}


<section id="slider_wrapper" class="slider_wrapper full_page_photo">
     <div id="main_flexslider" class="flexslider">
          <ul class="slides">
               <li class="item" style="background-image: url(../../../images/yoga-day.jpg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1 class="skincolored animated bounceInDown">We celebreated <br><strong>International Yoga Day! </strong></h1>
                              <p class="lead animated bounceInUp">On Sunday, June 21st, MAFS helped celebrate <strong>the first International Yoga Day</strong> and <a href="http://news.yahoo.com/india-set-celebrate-modis-yoga-day-010413685.html" target="_blank"><strong>bent it like Modi</strong></a> at Odeum Expo Center in Villa Park, IL. </p>
                              @*<span class="round_badge"><strong><i class="fa fa-twitter"></i></strong><strong>V3</strong></span> </div>*@
                               <a class="btn btn-outline" href="#"><i class="fa fa-info"></i>&nbsp; Read more &raquo;</a> </div>
                    </div>
               </li>
               <li class="item" style="background-image: url(../../../images/2.jpg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1>makes <strong>real use</strong><br>
                                   of the power of <strong>{LESS}</strong> syntax!</h1>
                              <p class="lead skincolored">Restart was built with heavy use of {less} technology, making the life of the web developer easier!</p>
                         </div>
                    </div>
               </li>
               <li class="item" style="background-image: url(../../../images/3.jpg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1 class="skincolored"><strong>subtle</strong> animations<br>
                                   &amp; a <strong>fresh</strong> collapsing <strong>header effect</strong></h1>
                              <p class="lead">if you are looking for <a href="services.html"><strong>a bold approach</strong></a> you will love the header effect,<br>
                                   but even if you like <a href="page_alternative.html"><strong>a more conservative feel</strong></a>, you can always try the boxed alternative!</p>
                         </div>
                    </div>
               </li>
          </ul>
     </div>
</section>

<div class="main">
     <div class="container">
         <h2 class="section_header elegant centered">Elegant section header<small>can also be .fancy, .skincolored and centered</small></h2>

          <div class="row">
               <div class="col-sm-4 col-md-4">
                    <div class="service_teaser vertical">
                         <div class="service_photo">
                              <figure style="background-image:url(images/serv_6.jpg)"></figure>
                         </div>
                         <div class="service_details">
                              <h2 class="section_header skincolored"><b>Service</b>Element<small>has many styles!</small></h2>
                              <p>This is where you put the description of the service. The element has a default styling that can be altered just by adding the appropriate class to the <code>&lt;div class=&quot;service_teaser&quot;&gt;</code>. The available classes are <code>right</code>, <code>elegant</code>, <code>vertical</code> and <code>inverted</code>. See some examples at the <a href="services.html">services</a> page.</p>
                              <a class="btn btn-primary" href="#"><i class="fa fa-info"></i>&nbsp; Optional button</a> </div>
                    </div>

                </div>
              
              <div class="col-sm-4 col-md-4">
                    <div class="service_teaser vertical">
                         <div class="service_photo">
                              <figure style="background-image:url(images/serv_6.jpg)"></figure>
                         </div>
                         <div class="service_details">
                              <h2 class="section_header skincolored"><b>Service</b>Element<small>has many styles!</small></h2>
                              <p>This is where you put the description of the service. The element has a default styling that can be altered just by adding the appropriate class to the <code>&lt;div class=&quot;service_teaser&quot;&gt;</code>. The available classes are <code>right</code>, <code>elegant</code>, <code>vertical</code> and <code>inverted</code>. See some examples at the <a href="services.html">services</a> page.</p>
                              <a class="btn btn-primary" href="#"><i class="fa fa-info"></i>&nbsp; Optional button</a> </div>
                    </div>

                </div>

              <div class="col-sm-4 col-md-2 col-md-offset-2">
                        @*<form method="get">
                            <input type="search" name="searchTerm" />
                                <input type="submit" value="Search"/>

                                <div class="col-lg-3">*@
                            @*<div class="input-group">
                                <input type="search" name="searchTerm" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">
                                       <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>*@
                            <!-- /input-group -->
                            @* </div><!-- /.col-lg-6 -->
                        </form>*@

                  @using (Ajax.BeginForm(
                    new AjaxOptions
                    {
                        HttpMethod = "get",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "restaurantList"
                    }))
                  {
                      <input type="search" name="searchTerm" />
                      <input type="submit" value="Search" />
                  }
                       @* @Html.Partial("_Restaurants", Model)*@
                  <div id="restaurantList">
                    @foreach (var item in Model)
                    {
                        <div>
                            <h4>@Html.ActionLink(item.Name, "Index","Review", new { Id = item.Id }, null)</h4>
                            <div>@item.City, @item.Country</div>
                            <p>Reviews: @item.CountOfReviews</p>
                            <hr />
                        </div>
                    }

                    </div>
                </div>

          </div>

</div>


