@model IEnumerable<MAFS_ReStart.Models.Location>

@{
    ViewBag.Title = "Locations";
}

<div class="main">
    <div class="container">
        <section class="hgroup">
            <h1>Our Locations</h1>
            <h2>
                To provide comprehensive & integrated Social Services to the Immigrant population of India, Pakistan, Bangladesh, the Middle East & European countries. These services include but are not limited to <strong>
                    educate, counsel, assist & empower
                    individuals & families
                </strong> to become productive members in their new home.
            </h2>
            <ul class="breadcrumb pull-right">
                <li><a href="/">Home</a> </li>
                <li class="active">Locations</li>
            </ul>
        </section>

        @foreach (var location in Model)
        {
            <div class="col-sm-4 col-md-4">
                <div class="service_teaser vertical">
                    <div class="service_photo">
                        <iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="@location.GoogleMap"></iframe>
                    </div>
                    <div class="service_details">
                        <h2 class="section_header skincolored"><b>@location.CityName</b></h2>
                        <p>
                            @location.AddressLine1 <br />
                            @location.AddressLine2 <br />
                            Phone: @location.Phone <br />
                            Fax: @location.Fax     <br />
                        </p>

                    </div>
                </div>
            </div>

        }


    </div> @*end div*@
