@model MAFS_ReStart.Models.BlogPost

@{
    ViewBag.Title = "Details";
}
<div id="fb-root"></div>
<script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1475167809431236";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="main">
    <div class="container">
        <section class="hgroup">
            <h1>@Model.Title</h1>
            <h2><strong>@Model.Date.ToString("MMMM dd, yyyy"), by @Model.Author</strong></h2>
            <ul class="breadcrumb pull-right">
                <li><a href="index.html">Home</a> </li>
                <li class="active">News</li>
            </ul>
        </section>
        <section>
            <div class="row">
                <div id="leftcol" class="col-sm-8 col-md-8">
                    <article class="post">
                        <div class="post_header">
                            <h3 class="post_title"><a href="single_post.html"></a></h3>
                            @*<div class="post_sub"><i class="fa-time"></i> March 10, 2014 <a href="single_post.html#post_comments"><i class="fa-comments-alt"></i> 6 comments</a> </div>*@
                        </div>
                        <div class="post_content">
                            <figure>
                                @if (Model.SourceURL == null)
                                {
                                    <img alt="0" src="@Model.ImgUrl" width="100%">
                                }
                                else
                                {
                                    <a href="@Model.SourceURL"><img alt="0" src="@Model.ImgUrl" width="100%"></a>
                                }
                            </figure>
                            <p>
                                @Html.Raw(Model.Content)
                            </p>
                           
                            <div class="fb-comments" data-href="http://mafsinc.com" data-numposts="5"></div>
                        </div>
                    </article>
                    @*<article class="post">
                        <div class="post_header">
                            <h3 class="post_title"><a href="single_post.html">Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters amet risus.</a></h3>
                            <div class="post_sub"><i class="fa-time"></i> February 3, 2013 <a href="single_post.html#post_comments"><i class="fa-comments-alt"></i> 6 comments</a> </div>
                        </div>
                        <div class="post_content">
                            <figure>
                                <iframe class="video_iframe" src="http://player.vimeo.com/video/50924290?title=0&amp;byline=0&amp;portrait=0" height="400"></iframe>
                            </figure>
                            <p>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters amet risus. Cras mattis cosi sectetut amet fermens etrsaters tum aecenas faucib sadips amets. Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters amet risus. Cras mattis cosi sectetut amet fermens etrsaters tum aecenas faucib sadips amets....</p>
                            <a href="single_post.html" class="btn btn-primary">Read More</a>
                        </div>
                    </article>*@

                </div>
                <div id="sidebar" class="col-sm-4 col-md-4">
                    <aside class="widget">
                        <h4>Tabs</h4>
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a data-toggle="tab" href="#recent">Recent</a></li>
                            <li class=""><a data-toggle="tab" href="#tags">Tags</a></li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div id="recent" class="tab-pane fade active in">
                                <ul class="media-list">
                                    <li class="media">
                                        <a href="#" class="media-photo" style="background-image:url(images/portfolio/t5.jpg)"></a> <a href="#" class="media-date">19<span>FEB</span></a>
                                        <h5 class="media-heading"><a href="#">Media heading, this is a title of a news...</a></h5>
                                        <p>Fugiat dapibus, tellus ac cursus commodo, ut fermentum...</p>
                                    </li>
                                    <li class="media">
                                        <a href="#" class="media-photo" style="background-image:url(images/portfolio/t4.jpg)"></a> <a href="#" class="media-date">18<span>FEB</span></a>
                                        <h5 class="media-heading"><a href="#">Media heading, of a news item.</a></h5>
                                        <p>Fugiat dapibus, tellus ac cursus commodo, condime ntum nibh, ut fermentum...</p>
                                    </li>
                                    <li class="media">
                                        <a href="#" class="media-photo" style="background-image:url(images/portfolio/t5.jpg)"></a> <a href="#" class="media-date">17<span>FEB</span></a>
                                        <h5 class="media-heading"><a href="#">Media heading, this is a title of a news...</a></h5>
                                        <p>Fugiat dapibus, tellus ac cursus commodo, ut fermentum...</p>
                                    </li>
                                    <li class="media">
                                        <a href="#" class="media-photo" style="background-image:url(images/portfolio/t4.jpg)"></a> <a href="#" class="media-date">16<span>FEB</span></a>
                                        <h5 class="media-heading"><a href="#">Media heading, of a news item.</a></h5>
                                        <p>Fugiat dapibus, tellus ac cursus commodo, condime ntum nibh, ut fermentum...</p>
                                    </li>
                                </ul>
                            </div>
                            <div id="tags" class="tab-pane fade"> 
                                <a class="label label-default">Default</a> <a class="label label-primary">Primary</a> <a class="label label-success">Success</a> <a class="label label-warning">Warning</a> <a class="label label-danger">Danger</a> <a class="label label-info">Info</a> <a class="label label-default">Default</a> <a class="label label-success">Success</a> <a class="label label-danger">Danger</a> <a class="label label-info">Info</a> <a class="label label-default">Default</a> <a class="label label-success">Success</a> <a class="label label-success">Success</a> <a class="label label-warning">Warning</a> <a class="label label-danger">Danger</a> <a class="label label-warning">Warning</a> <a class="label label-warning">Warning</a> <a class="label label-danger">Danger</a> <a class="label label-info">Info</a> <a class="label label-inverse">Inverse</a> 
                            </div>
                        </div>
                    </aside>

                    <aside class="widget">
                        <h4>Text Widget</h4>
                        <p>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters amet risus. Cras mattis cosi sectetut amet fermens etrsaters tum aecenas faucib sadips amets.</p>
                    </aside>
                    <aside class="widget ads clearfix">
                        <h4>Ads</h4>
                        <a href="#"><img src="http://placehold.it/110" alt=""></a> <a href="#"><img src="http://placehold.it/110" alt=""></a> <a href="#"><img src="http://placehold.it/110" alt=""></a> <a href="#"><img src="http://placehold.it/110" alt=""></a>
                    </aside>
                    <aside class="widget">
                        <h4>Blog Categories</h4>
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href="#">All</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Press</a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </section>
    </div>
@*
    <h2>Details</h2>

    <fieldset>
        <legend>BlogPost</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Date)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Date)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Author)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Author)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Content)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Content)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.ImgUrl)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ImgUrl)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
*@