@model IEnumerable<MAFS_ReStart.Models.BlogPost>

@{
    ViewBag.Title = "News";
}

<div class="main">
    <div class="container">
        <section class="hgroup">
            <h1>Our News Section</h1>
            <h2>All the news and information from MAFS catogorized for your ease and benefit.</h2>
            <ul class="breadcrumb pull-right">
                <li><a href="index.html">Home</a> </li>
                <li class="active">News</li>
            </ul>
        </section>
        <section>
            <div class="row">
                <div id="leftcol" class="col-sm-8 col-md-8">
                    <article class="post">
                        <div class="post_header">
                            <h3 class="post_title"><a href="single_post.html">MAFS/UMAS opens senior center with array of services</a></h3>
                            <div class="post_sub"><i class="fa-time"></i> March 10, 2014 <a href="single_post.html#post_comments"><i class="fa-comments-alt"></i> 6 comments</a> </div>
                        </div>
                        <div class="post_content">
                            <figure><a href="single_post.html"><img alt="0" src="http://www.indiapost.com/wp-content/uploads/2014/03/mafs-2-web.jpg" width="100%"></a></figure>
                            <p>ORLAND PARK: Growing old is not easy, but can be even more difficult for those in need who lack the resources necessary for aging gracefully. Recognizing this growing need of elderly immigrant population in Chicagoland and now in South Suburb, Ms. Santosh Kumar, Executive Director of Metropolitan Asian Family Services (MAFS), decided to launch a new facility in Orland Park and finally had the doors opened on Friday, March 3, at a glittering ceremony.

After years of planning and much anticipation, the 9th branch of elderly care center is a dream come true. Hundreds gathered, braving the winter cold to celebrate the occasion. “It took over two years for the planning and a lot of hard work,” says P. Kumar, CEO Metro Family Clinic.

“A facility like this is a place for the seniors to come and interact with other seniors. We’re glad to see it here,” he added. Mafs is supported by Universal Metro Asian Services (UMAS), Metropolitan Asian Family Services (MAFS), Metro Family Clinic (MFC) and Metro Home Health Center (MHHC).

Led by Chief Guest Khodabhai Patel of Swagat Foods, seniors of various locations, local residents and staff members lined up to cut the ribbon, signifying the official opening of the facility. Other guests at the ribbon cutting were Zainab Iqbal, CEO of Raaz, Ms Asha Sharma, RN, Chicago hospital, Dr Harsh Kumar and Kanak Kumar, President of Hindu Temple, Gracelake, Lake County, Ms. Sucheta Sadhu, Board member, Bharat Seva Shram Sangha of Aurora, Rep from Charter Bank, James, CEO Mode Construction, Joe Ecman, manager, Assurant Health.

The Orland Park facility offers a plethora of services from home based assistance to lunch, from social gathering to public benefit assistance and medical services – all under one roof with the help and strong backup of Universal Industries. The Grand Opening Ceremony commenced with offering prayers to Lord Ganesha and Goddess Lakshmi by Pandit Jagdish Joshi, Chief Priest Hindu Temples in Chicagoland area.

“We hope more seniors will come and enjoy all the activities we have to offer,” Orland Park manager Zeenat Kapadia said. “It’s always nice to see the seniors come in and utilize all our services.”

Speaking during the grand opening ceremony, Mrs Kumar thanked her team for having a vision and making that vision a reality. She said that her journey would not have been possible without the effort of her dedicated team, be it the senior manager, drivers, and other staff members.

Mrs Kumar also thanked Mr Kumar and Universal Industries for giving strong financial support to this major venture at Orland Park location. She urged the community to come forward and support these community service based organizations as the needs of growing aging immigrant population have been increasing and the funding from the state and federal agencies has been depleting.

Mrs Kumar choked by emotions at times especially when she recalled her love, passion and desire for Metropolitan Asian Family Services (MAFS), human based community organization. She said that MAFS has no money and resources to have such well furnished facilities but its services are very intrinsic for the immigrant community; thus these service based organizations are nestled under the strong support and banner of Universal Industries.

Addressing attendees, Suresh Bodiwala, Chairman of Asian Media USA said that Mrs Kumar was earlier aptly recognized as the Mother Teresa of Chicago and now they give her a title of voice of voiceless or hapless immigrant community. Vandana Jhingan, Bureau Chief TV Asia, also congratulated community and Mrs and Mr Kumar for starting new facility for seniors at Orland Park.

Other prominent members in attendance were Mrs & Mr Shahid Shahin from Frankfurt and Dr Nalini Thakkar.
The grand-opening event featured Swar Sangam popular musical band from India, which held the audience spellbound through their famous Bollywood tracks such Zara Haule Haule Chalo More Saajna, Hai Apna Dil to Awara and many more.

Post ribbon-cutting ceremony, attendees ate lunch in the dining area and toured the building.</p>
                            <a href="single_post.html" class="btn btn-primary">Read More</a>
                        </div>
                    </article>
                    <article class="post">
                        <div class="post_header">
                            <h3 class="post_title"><a href="single_post.html">Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters amet risus.</a></h3>
                            <div class="post_sub"><i class="fa-time"></i> February 3, 2013 <a href="single_post.html#post_comments"><i class="fa-comments-alt"></i> 6 comments</a> </div>
                        </div>
                        <div class="post_content">
                            <figure>
                                <iframe class="video_iframe" src="http://player.vimeo.com/video/50924290?title=0&amp;byline=0&amp;portrait=0" height="400"></iframe>
                            </figure>
                            <p>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters amet risus. Cras mattis cosi sectetut amet fermens etrsaters tum aecenas faucib sadips amets. Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters amet risus. Cras mattis cosi sectetut amet fermens etrsaters tum aecenas faucib sadips amets....</p>
                            <a href="single_post.html" class="btn btn-primary">Read More</a>
                        </div>
                    </article>
                    <article class="post">
                        <div class="post_header">
                            <h3 class="post_title"><a href="single_post.html">Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters amet risus.</a></h3>
                            <div class="post_sub"><i class="fa-time"></i> January 12, 2013 <i class="fa-comments-alt"></i> 0 comments </div>
                        </div>
                        <div class="post_content">
                            <figure><a href="single_post.html"><img alt="0" src="images/portfolio/a4.jpg"></a></figure>
                            <p>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters amet risus. Cras mattis cosi sectetut amet fermens etrsaters tum aecenas faucib sadips amets. Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters amet risus. Cras mattis cosi sectetut amet fermens etrsaters tum aecenas faucib sadips amets....</p>
                            <a href="single_post.html" class="btn btn-primary">Read More</a>
                        </div>
                    </article>
                    <div class="pagination_wrapper">
                        <ul class="pagination pagination-centered">
                            <li class="disabled"><a href="#">«</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
                <div id="sidebar" class="col-sm-4 col-md-4">
                    <aside class="widget">
                        <h4>Blog Categories</h4>
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href="#">All</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Press</a></li>
                        </ul>
                    </aside>
                    <aside class="widget">
                        <h4>Text Widget</h4>
                        <p>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters amet risus. Cras mattis cosi sectetut amet fermens etrsaters tum aecenas faucib sadips amets.</p>
                    </aside>
                    <aside class="widget ads clearfix">
                        <h4>Ads</h4>
                        <a href="#"><img src="http://placehold.it/110" alt=""></a> <a href="#"><img src="http://placehold.it/110" alt=""></a> <a href="#"><img src="http://placehold.it/110" alt=""></a> <a href="#"><img src="http://placehold.it/110" alt=""></a>
                    </aside>
                    <aside class="widget">
                        <h4>Tabs</h4>
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a data-toggle="tab" href="#recent">Recent</a></li>
                            <li class=""><a data-toggle="tab" href="#tags">Tags</a></li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div id="recent" class="tab-pane fade active in">
                                <ul class="media-list">
                                    <li class="media">
                                        <a href="#" class="media-photo" style="background-image:url(images/portfolio/t5.jpg)"></a> <a href="#" class="media-date">19<span>FEB</span></a>
                                        <h5 class="media-heading"><a href="#">Media heading, this is a title of a news...</a></h5>
                                        <p>Fugiat dapibus, tellus ac cursus commodo, ut fermentum...</p>
                                    </li>
                                    <li class="media">
                                        <a href="#" class="media-photo" style="background-image:url(images/portfolio/t4.jpg)"></a> <a href="#" class="media-date">18<span>FEB</span></a>
                                        <h5 class="media-heading"><a href="#">Media heading, of a news item.</a></h5>
                                        <p>Fugiat dapibus, tellus ac cursus commodo, condime ntum nibh, ut fermentum...</p>
                                    </li>
                                    <li class="media">
                                        <a href="#" class="media-photo" style="background-image:url(images/portfolio/t5.jpg)"></a> <a href="#" class="media-date">17<span>FEB</span></a>
                                        <h5 class="media-heading"><a href="#">Media heading, this is a title of a news...</a></h5>
                                        <p>Fugiat dapibus, tellus ac cursus commodo, ut fermentum...</p>
                                    </li>
                                    <li class="media">
                                        <a href="#" class="media-photo" style="background-image:url(images/portfolio/t4.jpg)"></a> <a href="#" class="media-date">16<span>FEB</span></a>
                                        <h5 class="media-heading"><a href="#">Media heading, of a news item.</a></h5>
                                        <p>Fugiat dapibus, tellus ac cursus commodo, condime ntum nibh, ut fermentum...</p>
                                    </li>
                                </ul>
                            </div>
                            <div id="tags" class="tab-pane fade"> <a class="label label-default">Default</a> <a class="label label-primary">Primary</a> <a class="label label-success">Success</a> <a class="label label-warning">Warning</a> <a class="label label-danger">Danger</a> <a class="label label-info">Info</a> <a class="label label-default">Default</a> <a class="label label-success">Success</a> <a class="label label-danger">Danger</a> <a class="label label-info">Info</a> <a class="label label-default">Default</a> <a class="label label-success">Success</a> <a class="label label-success">Success</a> <a class="label label-warning">Warning</a> <a class="label label-danger">Danger</a> <a class="label label-warning">Warning</a> <a class="label label-warning">Warning</a> <a class="label label-danger">Danger</a> <a class="label label-info">Info</a> <a class="label label-inverse">Inverse</a> </div>
                        </div>
                    </aside>
                </div>
            </div>
        </section>
    </div>


    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgUrl)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImgUrl)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
